*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: var(--off-white);
}

@font-face {
  font-family: Poppins;
  src: url('@/assets/fonts/Poppins-Regular.ttf')format("truetype");
}


body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Poppins !important;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
