@import './base.css';

:root {
  --dark-green: #64AA27;
  --snot-green: #99C61C;
  --jungle-tan: #D5E563;
  --vivid-lime-green: #A9E22D;
  /*--vt-c-white: #FDFED3;*/
  --off-white: #FDFED3;
  --gray: #303030;

}

#app {

  padding-top: 4rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}


@media (min-width: 1024px) {}

.flipper {
  position: relative;
  width: 100%;
  height: 75% !important;
}

.front {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75% !important;

}

.back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75% !important;
}